<%= form_for item, remote: true do |f| %>
	<li>
		<%= f.label :description, item.description %>
		<%= link_to "(remove)", item, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
		<%= f.check_box :donetoday %>
		<%= f.submit  %>
	</li>
<% end %>